<div
  class="modal fade"
  id="tutorStudentsModal"
  tabindex="-1"
  aria-labelledby="tutorStudentsModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="tutorStudentsModalLabel">Studenti per tutor</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Chiudi"></button>
      </div>
      <div class="modal-body">
        <div id="tutor-students-content" class="vstack gap-3">
          <div class="text-muted">Caricamento in corso...</div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Chiudi</button>
      </div>
    </div>
  </div>
</div>